<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <h1 class="box" id="heading"> <%= listTitle %> </h1>   
    
    <form action="/" method="post">
        <div class="box">
            <% for(let i = 0; i<listItem.length; i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= listItem[i] %></p>
                </div>
                
            <% } %>
            <input type="text" name="newItem" autocomplete="off" placeholder="New Item">
            <button type="submit" name="submitBtn" value=<%= listTitle %> > +</button>
        </div>
        
        
    
    </form>
</body>
</html>